@model Vendedor

<h2>Tem certeza de que deseja excluir isto? </h2>
<div class="container">
    <dl class="dl-horizontal">
        <h3>Vendedor</h3>
        <hr />
        <dt>
            @Html.DisplayNameFor(model=>model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(Model=>Model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(Model=>Model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.Salario)
        </dt>
        <dd>
            @Html.DisplayFor(Model=>Model.Salario)
        </dd> 
      
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>



</div>