@model IEnumerable<Vendedor>
@{
    ViewData["Title"] = "Vendedores";
}
<h1>@ViewData["Title"]</h1>

<p><a asp-action="Create" class="">Create</a></p>

<table class="table">
    <thead>
        <tr>
            <td>
            @Html.DisplayNameFor(model=>model.Nome)
            </td>
            <td>
           @Html.DisplayNameFor(model=>model.Data)
            </td>  
            <td>
           @Html.DisplayNameFor(model=>model.Salario)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <td>
            @Html.DisplayFor(M=>item.Nome) 
            </td>
            <td>
                @Html.DisplayFor(M=>item.Data)
            </td>
            <td>
                @Html.DisplayFor(M=>item.Salario)
            </td>

            <td>
                    @((ViewData["Departamentos"] as Dictionary<int, string>)[item.DepartamentoId])
            </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id"> Detalhes </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> Excluir </a>
                </td>
        </tr>
        }
 
    </tbody>
</table>



